#navbar,ul{
    display: flex;
    align-items: center;
justify-content:space-around;

}
#navbar{background-color: navy;
    border-radius: 15px;
    color:white;
    padding: 0px 10px;
}
ul{
    gap:20px;
}
#Zone{ color: yellow;}
.card{
     border: 2px solid whitesmoke ;
     width: 250px;
     text-align: center;
    padding: 20px;
    border-radius: 15px;
    }
    #card-container{
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    button{ 
        width: 100%;
        padding: 10px;
        background-color: rgb(17, 17, 17);
        color: white;
        border: none;

    }
    img{
        object-fit: contain;
    }